$header-wrapper-background-color: #102c2b;
$header-wrapper-padding: 8px 32px;
$header-logo-img-height: 45px;
$header-profile-icon-width: 36px;
$header-profile-icon-height: 36px;
$header-register-button-background-color: #2cb67d;
$header-register-button-color: #ffffff;
$header-register-button-border: 1px solid #2cb67d;
$header-register-button-hover-border-color: #2cb67d;
$header-login-button-background-color: #7f5af0;
$header-login-button-color: #ffffff;
$header-login-button-hover-color: #6845d8;

$header-personal-data-wrapper-font-size: 10px;
$header-personal-data-wrapper-color: #f0f0f5;
$header-personal-data-wrapper-font-weight: 700;
$header-engagement-wrapper-color: rgba(255, 255, 255, 0.5);

$header-profile-dropdown-menu-background: #102c2b;
$header-profile-dropdown-menu-color: #f0f0f5;
$header-profile-dropdown-menu-border-radius: 8px;
$header-profile-dropdown-menu-width: 150px;
$header-profile-dropdown-menu-box-shadow: rgba(0, 0, 0, 0.1);

$header-profile-dropdown-menu-elements-padding: 10px;

//Mobile Styles
$mobile-header-logo-img-height: 20px;
$mobile-header-profile-icon-width: 24px;
$mobile-header-profile-icon-height: 24px;