$register-component-wrapper-overlay-width: 100%;
$register-component-wrapper-overlay-height: 100%;
$register-component-wrapper-overlay-background: #0000004d;

$register-component-wrapper-width: 250px;
$register-component-wrapper-padding: 30px;
$register-component-wrapper-background: #E0E0E0bf;
$register-component-wrapper-border-radius: 6px;
$register-component-title-margin: 0 0 20px 0;

$register-component-form-input-margin: 4px 0;
$register-component-form-input-padding: 4px;
$register-component-form-input-color: #f0f0f5;
$register-component-form-input-font-size: 16px;
$register-component-form-input-border: 1px solid #7B7C8133;
$register-component-form-input-border-radius: 6px;

$register-component-form-button-background: #FD7500;
$register-component-form-button-color: #E0E0E0;
$register-component-form-button-margin: 16px auto;

$register-component-form-close-button-width: 40px;
$register-component-form-close-button-height: 40px;

$register-component-form-message-font-weight: 700;