$login-component-wrapper-overlay-width: 100%;
$login-component-wrapper-overlay-height: 100%;
$login-component-wrapper-overlay-background: #0000004d;

$login-component-wrapper-width: 250px;
$login-component-wrapper-padding: 30px;
$login-component-wrapper-background: #002629;
$login-component-wrapper-border-radius: 6px;
$login-title-margin: 0 0 20px 0;

$login-component-form-input-margin: 4px 0;
$login-component-form-input-padding: 4px;
$login-component-form-input-color: #002629;
$login-component-form-input-font-size: 16px;
$login-component-form-input-border: 1px solid #7B7C8133;
$login-component-form-input-border-radius: 6px;

$login-component-form-button-background: #7f5af0;
$login-component-form-button-color: #E0E0E0;
$login-component-form-button-margin: 16px auto;

$login-component-form-close-button-color: #e0e0e5;
$login-component-form-close-button-width: 40px;
$login-component-form-close-button-height: 40px;

$login-component-form-message-font-weight: 700;