$message-wrapper-margin: 15px 0;
$message-wrapper-background: linear-gradient(135deg, #7f5af0 0%, #2cb67d 100%);
$message-wrapper-border-radius: 6px;
$message-wrapper-max-width: 600px;

$user-profile-section-padding: 10px 20px;
$user-profile-section-avatar-height: 48px;
$user-profile-section-avatar-width: 48px;

$user-names-font-size: 16px;
$user-names-line-height: 21px;
$user-names-color: rgba(255, 255, 255, 0.5);
$user-names-font-weight: 700;

$user-occupation-font-size: 14px;
$user-occupation-line-height: 21px;
$user-occupation-font-weight: 400;
$user-occupation-color: rgba(240,240,245, 0.7);

$timestamp-font-size: 12px;
$timestamp-color: rgba(240,240,245, 0.7);
$timestamp-line-height: 21px;
$timestamp-font-weight: 400;

$message-content-font-size: 16px;
$message-content-color: #f0f0f5;
$message-content-font-weight: 400;
$message-content-line-height: 22px;
$message-content-padding: 10px 20px;

$message-see-more-less-button-background: transparent;
$message-see-more-less-button-border: none;
$message-see-more-less-button-color: rgba(240, 240, 245, 0.7);
$message-see-more-less-button-font-size: 14px;
$message-see-more-less-button-line-height: 20px;
$message-see-more-less-button-font-weight: 500;

$likes-count-wrapper-padding: 10px 20px;
$likes-count-wrapper-img-width: 18px;
$likes-count-wrapper-img-height: 18px;
$likes-count-wrapper-span-font-size: 13px;
$likes-count-wrapper-span-line-height: 21px;
$likes-count-wrapper-span-color: rgba(240, 240, 245, 0.7);

$engagement-buttons-wrapper-padding: 10px 20px;
$engagement-buttons-wrapper-border-top: 1px solid rgba(255, 255, 255, 0.2);

$like-button-fill-color: #f0f0f5;
$like-button-active-fill-color: red;