$footer-wrapper-background: #002629;
$footer-wrapper-padding: 30px;

$footer-wrapper-text-color: #E0E0E0;
$footer-wrapper-text-margin: 0;
$footer-wrapper-text-font-size: 12px;
$footer-wrapper-text-line-height: 16px;
$footer-wrapper-text-font-weight: 400;