$profile-options-wrapper-overlay-width: 100%;
$profile-options-wrapper-overlay-height: 100%;
$profile-options-wrapper-overlay-background: #0000004d;

$profile-options-wrapper-padding: 30px;
$profile-options-wrapper-background: #E0E0E0bf;
$profile-options-wrapper-border-radius: 6px;
$profile-options-wrapper-border: 1px solid rgba(123, 124, 129, 0.2);

$profile-options-wrapper-input-margin: 10px 0;

$profile-options-title-margin: 0 0 20px 0;
$profile-options-wrapper-avatar-img-width: 50px;
$profile-options-wrapper-avatar-img-height: 50px;
$profile-options-wrapper-avatar-img-border-radius: 50px;
$profile-options-wrapper-upload-button-background: #FD7500;
$profile-options-wrapper-upload-button-color: #E0E0E0;
$profile-options-wrapper-upload-button-margin: 10px 0;

$profile-options-wrapper-labels-font-size: 12px;
$profile-options-wrapper-labels-color: #000000;

$profile-options-wrapper-occupation-input-font-size: 16px;
$profile-options-wrapper-occupation-input-border: 1px solid rgba(123, 124, 129, 0.2);
$profile-options-wrapper-occupation-input-border-radius: 6px;

$profile-options-wrapper-close-button-width: 40px;
$profile-options-wrapper-close-button-height: 40px;